<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	 			http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	 			
	<bean name="siteInfoDao" class="com.epaide.site.dao.SiteInfoDaoImpl">
		<constructor-arg value="com.epaide.site.model.SiteInfo"/>
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<bean name="siteInfoService" class="com.epaide.site.service.SiteInfoServiceImpl">
		<property name="dao" ref="siteInfoDao"></property>
	</bean>
			
	<bean name="siteInfoAction" class="com.epaide.site.action.SiteInfoAction" scope="prototype">
		<property name="service" ref="siteInfoService"></property>
	</bean>

</beans>