<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
	<bean id="job" class="org.auction.module.manager.job.Job" init-method="initMethod">
		<property name="jobService" ref="jobService" />
	</bean>
	<bean id="taskone"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="job" />
		</property>
		<property name="targetMethod">
			<value>addComtity</value>
		</property>
	</bean>
	<bean id="tasktwo"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="job" />
		</property>
		<property name="targetMethod">
			<value>destoryComtity</value>
		</property>
	</bean>
	<bean id="timeone" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="taskone" />
		</property>
		<property name="cronExpression">
			<value>0 0/15 * ? * *</value>
		</property>
	</bean>
	<bean id="timetwo" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="tasktwo" />
		</property>
		<property name="cronExpression">
			<value>0/30 * * ? * *</value>
		</property>
	</bean>
	<bean id="start" lazy-init="false" autowire="no"
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="timeone" />
				<ref bean="timetwo" />
			</list>
		</property>
	</bean>
</beans>
